.tpl-grid__fraction {
	min-width: 0;

	@media screen and (max-width: $screen-xs-max) {
		&_xs-order {
			&_-1 { order: -1; }
			&_0 { order: 0; }
			&_1 { order: 1; }
		}

		&_xs-row {
			&_1 {  }
			&_2 {  }
			&_3 {  }
		}
	}

	@media screen and (max-width: $screen-s) {
		&_xs-col_hidden {
			display: none;
		}
	}

	@media screen and (max-width: $screen-s-max) {
		&_s-col_hidden {
			display: none;
		}

		&_s-order {
			&_-1 { order: -1; }
			&_0 { order: 0; }
			&_1 { order: 1; }
		}
	}

	@media screen and (min-width: $screen-s) {
		&_s-row {
			&_1 {  }
			&_2 {  }
			&_3 {  }
		}
	}

	@media screen and (min-width: $screen-m) {
		&_m-row {
			&_1 {  }
			&_2 {  }
			&_3 {  }
		}

		&_m-order {
			&_-1 { order: -1; }
			&_0 { order: 0; }
			&_1 { order: 1; }
		}
	}

	@media screen and (min-width: $screen-l) {
		&_l-row {
			&_1 {  }
			&_2 {  }
			&_3 {  }
		}

		&_l-order {
			&_-1 { order: -1; }
			&_0 { order: 0; }
			&_1 { order: 1; }
		}
	}

	@media screen and (min-width: $screen-xl) {
		&_xl-row {
			&_1 {  }
			&_2 {  }
			&_3 {  }
		}

		&_xl-order {
			&_-1 { order: -1; }
			&_0 { order: 0; }
			&_1 { order: 1; }
		}
	}
}

