.tpl-grid {
	display: flex;
	width: 100%;
	flex-wrap: wrap;

	&_xs-ratio {
		&_1-1-1 {
			@media screen and (max-width: $screen-xs-max) {
				flex-flow: row wrap;
				
				& > * {
					lost-column: 1/3;
				}

				.tpl-grid__fraction {
					padding: var(--col-gap-half);
					box-sizing: border-box;
				}
			}
		}

		&_1-1 {
			@media screen and (max-width: $screen-xs-max) {
				flex-flow: row wrap;
				
				& > * {
					lost-column: 1/2;
				}

				.tpl-grid__fraction {
					padding: var(--col-gap-half);
					box-sizing: border-box;
				}
			}
		}
	}

	&_s-ratio {
		&_1-1-1-1-1 {
			@media screen and (min-width: $screen-s) {
				& > * {
					lost-column: 1/5;
				}
			}
		}
		&_1-1-1-1 {
			@media screen and (min-width: $screen-s) {
				& > * {
					lost-column: 1/4;
				}
			}
		}
		&_1-1-1 {
			@media screen and (min-width: $screen-s) {
				& > * {
					lost-column: 1/3;
				}
			}
		}
		&_1-1 {
			@media screen and (min-width: $screen-s) {
				& > * {
					lost-column: 1/2;
				}
			}
		}
	}

	&_m-ratio {
		&_1-1-1-1-1 {
			@media screen and (min-width: $screen-m) {
				& > * {
					lost-column: 1/5;
				}
			}
		}
		&_1-1-1-1 {
			@media screen and (min-width: $screen-m) {
				& > * {
					lost-column: 1/4;
				}
			}
		}
		&_1-1-1 {
			@media screen and (min-width: $screen-m) {
				& > * {
					lost-column: 1/3;
				}
			}
		}
		&_1-1 {
			@media screen and (min-width: $screen-m) {
				& > * {
					lost-column: 1/2;
				}
			}
		}
	}

	&_l-ratio {
		&_1-1-1-1-1 {
			@media screen and (min-width: $screen-l) {
				& > * {
					lost-column: 1/5;
				}
			}
		}
		&_1-1-1-1 {
			@media screen and (min-width: $screen-l) {
				& > * {
					lost-column: 1/4;
				}
			}
		}
		&_1-1-1 {
			@media screen and (min-width: $screen-l) {
				& > * {
					lost-column: 1/3;
				}
			}
		}
		&_1-1 {
			@media screen and (min-width: $screen-l) {
				& > * {
					lost-column: 1/2;
				}
			}
		}
	}

	&_xl-ratio {
		&_1-1-1-1-1 {
			@media screen and (min-width: $screen-xl) {
				& > * {
					lost-column: 1/5;
				}
			}
		}
		&_1-1-1-1 {
			@media screen and (min-width: $screen-xl) {
				& > * {
					lost-column: 1/4;
				}
			}
		}
		&_1-1-1 {
			@media screen and (min-width: $screen-xl) {
				& > * {
					lost-column: 1/3;
				}
			}
		}
		&_1-1 {
			@media screen and (min-width: $screen-xl) {
				& > * {
					lost-column: 1/2;
				}
			}
		}
	}

	&_xs-columns {
		&_2 {
			@media screen and (max-width: $screen-xs-max) {

			}
		}

		&_3 {
			@media screen and (max-width: $screen-xs-max) {

			}
		}
	}

	&_s-columns {
		&_5 {
			@media screen and (min-width: $screen-s) {
			}
		}
		&_6 {
			@media screen and (min-width: $screen-s) {
			}
		}
		&_8 {
			@media screen and (min-width: $screen-s) {
			}
		}
	}

	&_m-columns {
		&_12 {
			@media screen and (min-width: $screen-m) {
			}
		}
		&_10 {
			@media screen and (min-width: $screen-m) {
			}
		}
		&_6 {
			@media screen and (min-width: $screen-m) {
			}
		}
	}

	&_l-columns {
		&_12 {
			@media screen and (min-width: $screen-l) {
			}
		}
		&_10 {
			@media screen and (min-width: $screen-l) {
			}
		}
		&_6 {
			@media screen and (min-width: $screen-l) {
			}
		}
	}

	&_xl-columns {
		&_12 {
			@media screen and (min-width: $screen-xl) {
			}
		}
		&_10 {
			@media screen and (min-width: $screen-xl) {
			}
		}
		&_6 {
			@media screen and (min-width: $screen-xl) {
			}
		}
	}
}