@supports not (display:grid) {
	.tpl-layout_structure_fold-30-70 {
		& > *:nth-child(1) {
			width: var(--menu-fold);
			flex-basis: var(--menu-fold);
		}
		& > *:nth-child(2) {
			width: calc((100% - var(--menu-fold)) * 0.3);
			flex-basis: calc((100% - var(--menu-fold)) * 0.3);
		}
		
		& > *:nth-child(3) {
			width: calc((100% - var(--menu-fold)) * 0.7);
			flex-basis: calc((100% - var(--menu-fold)) * 0.7);
		}
	}
}

@supports not (display:grid) {
	.tpl-layout_structure_fold-30-70 {
		grid-template-columns: var(--menu-fold) calc((100% - var(--menu-fold)) * 0.3) calc((100% - var(--menu-fold)) * 0.7);
		grid-template-rows: minmax(100vh, auto);
	}
}