@supports not (display:grid) {
	.tpl-layout_structure_30-70 {
		& > *:nth-child(1) {
			width: 30%;
			flex-basis: 30%;
		}
		& > *:nth-child(2) {
			width: 70%;
			flex-basis: 70%;
		}
	}
}

@supports (display:grid) {
	.tpl-layout_structure_30-70 {
		grid-template-columns: 30% 70%;
		grid-template-rows: minmax(100vh, auto);
	}
}
